@page "/"


<Row Padding="Padding.Is4.OnAll">
    <Column ColumnSize="ColumnSize.Is12">
        <Heading Size="HeadingSize.Is1">
            Welcome to BOM Tool !
        </Heading>
    </Column>
</Row>

<AuthorizeView>  
    <NotAuthorized>
        <p></p>
    </NotAuthorized>
</AuthorizeView>