@page "/"

<h1><p><fore color="DarkBlue"> BOM TOOL  !</fore></p></h1>


<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!     
    </Authorized>
    <NotAuthorized>
        <p> Sorry Not Authenticate Try Again</p>
    </NotAuthorized>
</AuthorizeView>