@page "/PartNum"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<Row Padding="Padding.Is4.OnAll">
    <Column ColumnSize="ColumnSize.IsThird.OnDesktop.IsFull.OnTablet">
        <Heading Size="HeadingSize.Is4">
            <Icon Name="IconName.Shapes" />
            BOM TOOL
        </Heading>
    </Column>

    <Column ColumnSize="ColumnSize.IsThird.OnDesktop.IsFull.OnTablet">
        <Field Horizontal="true">
            <FieldLabel>
                Select Location:
            </FieldLabel>
            <TextEdit Placeholder="Location name..." />
            <FieldLabel>
                Enter Part Number:
            </FieldLabel>
            <TextEdit Placeholder="Part Number..."  />
        </Field>
    </Column>

    <Column ColumnSize="ColumnSize.IsThird.OnDesktop.IsFull.OnTablet">
        <Tooltip Text="Search by Part Number">
            <Button Color="Color.Primary"
                    Clicked="@(() => GetData())">
                <Icon Name="IconName.SearchPlus" />
                Buscar
            </Button>
        </Tooltip>
    </Column>

</Row>

